.modal__item {
  display: flex;
  margin: auto;
  width: 90%;
  border-bottom: #10583e solid 2px;
  justify-content: space-between;
  align-items: center;
}

.modal__info {
  flex-direction: column;
}

.modal__info__lineTwo {
  display: flex;
  padding-right: 50px;
  align-items: center;
}

.modal__infoName {
  margin-bottom: -15px;
  color: rgb(182, 128, 27);
  font-weight: 600;
  font-size: 15px;
}

.modal__infoPrice {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(190, 23, 23);
  position: relative;
  left: 0px;
}

.modal__infoQuantity {
  border: grey solid 1px;
  border-radius: 3px;
  align-items: center;
  color: rgb(83, 80, 80);
  font-size: 10px;
  font-weight: 700;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 5px;
  padding-top: 4px;
  height: 10px;
  display: flex;
  position: absolute;
  left: 30%;
}

.modal__adjustQuantity button {
  margin-left: 15px;
  font-size: 13.5px;
  font-weight: 700;
  padding-left: 12px;
  padding-right: 12px;
  color: rgb(190, 23, 23);
  border-radius: 6px;
  border: rgb(83, 80, 80) solid 1px;
}

.modal__adjustQuantity > :first-child {
  padding-left: 13.5px;
  padding-right: 13.5px;
  /* hover: 
    background: "#efefef" */
}
